@font-face{
    font-family: CustomFont;
    src: url(font.ttf);
}
*{
    font-family: CustomFont;
	color: white;
}
#container{
	margin: 0px auto; 
	padding: 10px; 
	width: 770px;
}
body{
	background: url(background.png);
}
h1{
    display: table;
    white-space: nowrap;
	text-align: center;
	text-transform: uppercase;
	font-weight: bold;
	font-size: 50px;
}
h1::before{right: 1.5%;}
h1::after{left: 1.5%;}
h1::before, h1::after{
      border-top: 1px solid white;
      content: '';
      display: table-cell;
      position: relative;
      top: 0.5em;
      width: 40%;
}
#left-side{
  padding: 0px;
  display: inline-block;
}
#right-side{
  width: 325px;
  display: inline-block;
  vertical-align: top;
}
#standard-room-text{
  width: 440px;
  padding: 0px;
  display: inline-block;
}
#standard-room-image{
  width: 325px;
  display: inline-block;
  vertical-align: top;
}
#superior-room-text{
  width: 440px;
  padding: 0px;
  display: inline-block;
}
#superior-room-image{
  width: 325px;
  display: inline-block;
  vertical-align: top;
}
#suite-text{
  width: 440px;
  padding: 0px;
  display: inline-block;
}
#suite-image{
  width: 325px;
  display: inline-block;
  vertical-align: top;
}
.foto{
	margin-left:100px;
}